# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Uploads (VERY IMPORTANT)
static/uploads/

# Model files (optional if large)
*.pth
*.pt

# DICOM / NIfTI files
*.nii
*.nii.gz
*.dcm

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.temp

# Environment variables
.env